*,*::after, *::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.nav{
 max-height: 100rem;
 padding: 1.6rem;
}
.nav__form{
    border: 0.1rem solid red;
}
.name{
    border: 0.1rem solid black;
    margin: 0.2rem ;
}