*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px*/
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --bg-color: rgb(70, 70, 70);
    --bg-hover-color: rgb(2, 76, 13);
    --text-color: white;
    --nav-height: 4.5rem;
}

.nav {
    background-color: var(--bg-color);
    width: 100%;
    height: var(--nav-height);
    display: flex;
    flex-direction: row;
}

.nav__list {
    display: flex;
}

.nav__link {
    line-height: 4.5rem;
    padding: 0 2rem;
    position: relative;
}

.nav__item {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
}

.nav__link:hover {
    background-color: var(--bg-hover-color);
}

.nav__dropdown {
    display: none;
    background-color: var(--bg-color);
    position: absolute;
    left: 0;
    top: 100%;
}


/* khi hover vào thẻ cha thì list thẻ con sẽ dk gọi đến */

.nav__link:hover>.nav__dropdown {
    display: block;
}

.nav__table {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 80rem;
    background-color: var(--bg-color);
}


/* show bảng */

.nav__link:hover>.nav__table {
    display: block;
}

.nav__table>ul {
    /* hiển thị nó như 1 hàng */
    display: table-row;
}

.nav__table>ul>.nav__link {
    /* hiển thị nó như 1 cột */
    display: table-cell;
}

.nav__table>ul>.nav__link>.nav__item {
    /* đổi font chữ thành viết hoa chữ cái đầu */
    text-transform: capitalize;
}